@model List<GioHang>
<br>
<div class="container">
    <h1>GIỎ HÀNG</h1> <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                @*        <th scope="col">STT</th>*@
                <th scope="col">Sản phẩm</th>
                <th scope="col">Gia tiền</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
                @*                <th scope="col">Active</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*  <td>@item.Id</td>*@
                    <td>@item.sanPhamChiTiet.TenSP</td>
                    <td>@item.sanPhamChiTiet.GianBan</td>
                    <td><input type="number" value="@item.SoLuong" ></td>
                    <td>@(item.sanPhamChiTiet.GianBan*item.SoLuong)</td>
                    <td>
                        <button type="button" class="btn btn-danger">Xoá</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="total payment">
        <span>Tổng tiền:</span> <br>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Thanh Toán</button>
    </div>
    <script>

    </script>
</div>

